header{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px white;
    font-family: 'Righteous', cursive;
    
}
body{
    background-color: rgb(53, 53, 255);
}
.contenedor_principal{
    width: 90%;
    height: 462px;
    border-radius: 20px;
    display: flex;
    flex-flow: row , wrap;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
.Contenedor1{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    order: 1;
    background-color:#2b549c;
    display: flex;
    flex-direction: column; /* define como se desplazan las columnas, de arriba abajo o de abajo arriba*/
    justify-content: space-between;
    align-items: center;
    padding-right: 0.1%;
    box-shadow: 5px 5px 10px white,-5px -5px 10px white;
    border-radius: 20px;
}

  

.Bienvenida{
    text-align: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 20%;
    background-color: #2b549c;
    border-top-left-radius: 20px;
    border: white 1px solid;
    box-sizing: border-box;
    
    
}
.prod_aprende{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.img_prod{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.imagen{
    width: 30%;
    height: 100%;
}
.imagen1{
    background-size: auto;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.productos{
    width: 100%;
    height: 50%;
    color: white;
    background-color: #2b549c;
    border: white 1px solid;
    box-sizing: border-box;
    text-align: center;
}
.productos:hover{
    background: url(productos.jpg);
    
}
.aprende{
    text-align: center;
    background-color:#2b549c;
    width: 100%;
    height: 50%;
    color: white;
    float: left;
    border: white 1px solid;
    box-sizing: border-box;
    text-align: center;
    
    
}
.reserva{
    text-align: center;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 20%;
    color: white;
    background-color: #2b549c;
    border: white 1px solid;
    box-sizing: border-box;
    text-align: center;
    
   
}
.Contenedor2{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    order: 1;
    background-color: #2b549c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px white,-5px -5px 10px white;
    border-radius: 20px;
}

.contenedor_sec{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}
.resul_entrada{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.horario{
    text-align: center;
    color: white;
    width: 100%;
    height: 20%;
    background-color: #2b549c;
    border: white 1px solid;
    box-sizing: border-box;
    border-top-right-radius:20px ;
    margin: 0px;
    padding: 0px;

    
}
.imagen2{
    width: 30%;
    height: 100%;
    position: relative;

}
.imagen_2{
    width: 100%;
    height: 100%;
    background-size: auto;
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto_imagen2{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.imagen2:hover p::before{
    content: "Clases privadas";
    color: white;
    font-size: 20px;
}
.imagen_2:hover{
    background: url(tennis1.jpg);
    opacity: 20%;

}

.resultados{
    width: 100%;
    height: 50%;
    color: white;
    background-color: #2b549c;
    border: white 1px solid;
    box-sizing: border-box;
    text-align: center;
    
}
.entrada{
    text-align: center;
    background-color:#2b549c;
    width: 100%;
    height: 50%;
    color: white;
    border: white 1px solid;
    box-sizing: border-box;
    text-align: center;   
}
.entrada:hover{
    animation-name: hover_entrada;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}
@keyframes hover_entrada {
    0% {
        background-color: white;
    }
    50%{
        background: url(tennis2.jpg);
        opacity: 20%;
        size: 20px;

    }
    100%{
        background: url(tennis2.jpg);
        opacity: 20%;
        size: 20px;
        font-weight: bold;
    }
}
.ubicacion{
    text-align: center;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 20%;
    color: white;
    background-color: #2b549c;
    border: white 1px solid;
    box-sizing: border-box;
    text-align: center;
    
}
.title_table{
    background-color: blue;
    color: white;
}
.fila1{
    background-color: white;
    color: blue;
}
.fila2{
    background-color: white;
    color: blue;
}

.fila1:hover{
    background-color: blue;
    color: white;
}
.fila2:hover{
    background-color: blue;
    color: white;
}
table{
    text-align: center;
    width: 90%;
    padding-left: 5%;
}

@media screen and (max-width:768px){
    .contenedor_principal{
        flex-direction: column;
        border-radius: 0px;
    }
    
    .Bienvenida{
        border-top-right-radius: 20px ;
    }
    .reserva{
        border-bottom-left-radius: 0px;
        padding-bottom: 0.5%;
        box-shadow: 0px 5px 5px white;
    }
    .Contenedor1{
        width: 100%;
        height: 50%;
    }
    .Contenedor2{
        width: 100%;
        height: 50%;
    }
    .horario{
        border-top-right-radius: 0px;
    }
    .ubicacion{
        border-bottom-left-radius: 20px;
    }
}